In [1]:
# Loading the data

import pandas as pd
MainData = pd.read_csv("/Users/parisarezaeeborj/Downloads/contour-export-utrekk_anonym-goods_item-29-02-2024.csv")
MainData

,declaration_date,statistical_value,net_weight,commodity_code,destination_country_full,mode_of_transport_full,domestic_party_id_unique
0,2019-12-12,279639,1090,Kjølte kongekrabbe,KR - Sør-Korea,40 - LUFTFARTØY,327281393
1,2020-10-20,24117,360,Kjølte kongekrabbe,SE - Sverige,30 - BIL (VEITRANSPORT),-363331949
2,2019-04-16,26857,100,Kjølte kongekrabbe,GB - Storbritannia,40 - LUFTFARTØY,1998405543
3,2020-04-27,363,4,Kjølte kongekrabbe,NaN,30 - BIL (VEITRANSPORT),1762013263
4,2020-11-03,23884,360,Kjølte kongekrabbe,SE - Sverige,30 - BIL (VEITRANSPORT),-363331949
...,...,...,...,...,...,...,...
9541,2021-05-07,266767,500,Fryste kongekrabbe,DK - Danmark,16 - BIL PÅ FARTØY,-1230701305
9542,2021-11-11,250112,300,Fryste kongekrabbe,NL - Nederland,"10 - FARTØY, NORSKE/UTENLANDSKE",-896532085
9543,2021-12-11,308785,420,Fryste kongekrabbe,SE - Sverige,30 - BIL (VEITRANSPORT),-1861571126
9544,2022-01-21,270192,303,Fryste kongekrabbe,NL - Nederland,30 - BIL (VEITRANSPORT),-1861571126
9545,2022-05-16,1044074,1080,Fryste kongekrabbe,ES - Spania,"10 - FARTØY, NORSKE/UTENLANDSKE",327281393

# Let's take a look at our data

In [2]:
MainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9546 entries, 0 to 9545
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   declaration_date          9546 non-null   object
 1   statistical_value         9546 non-null   int64
 2   net_weight                9546 non-null   int64
 3   commodity_code            9546 non-null   object
 4   destination_country_full  9392 non-null   object
 5   mode_of_transport_full    9546 non-null   object
 6   domestic_party_id_unique  9546 non-null   int64
dtypes: int64(3), object(4)
memory usage: 522.2+ KB

# We have many different types of data (categorical and numeric), different scales of numerical data, and even missing data! 


We need to clean it up a bit before we should do any classification or feature selection.

There are 154 null (missing) values for the "destination_country_full" feature.

We also have several features that are clearly categorical: commodity_code, destination_country_full, mode_of_transport_full.

# Let's use one hot encoding on these features to create binary (numeric) features from them.

In [3]:
#"get_dummies" is the pandas version of one hot encoding.  


y1 = pd.get_dummies(MainData["commodity_code"], prefix="commodity_code")
y2 = pd.get_dummies(MainData["destination_country_full"], prefix="destination_country_full")
y3 = pd.get_dummies(MainData["mode_of_transport_full"], prefix="mode_of_transport_full")

Since we have "one-hot-encoded" our categorical features, we can remove the old categorical features and replace them with binary features.

In [5]:
MainData = MainData.drop(["commodity_code", "destination_country_full", "mode_of_transport_full"], axis = 1)

# adding one hot encoded features to the data.

In [6]:
MainData = pd.concat([MainData,y1,y2,y3], axis=1)

We also have declaration_date feature that is not numerical. 
# converting to the numerical data as below

In [7]:
MainData["declaration_date"] = MainData['declaration_date'].str.replace("-","").astype(int)

# min-max normalization

In [9]:
normalized_train=(MainData-MainData.min())/(MainData.max()-MainData.min()) #All features scaled between values of 0 and 1.

In [10]:
#Storing feature values into matrices/lists to be used  for sklearn.
X = normalized_train.values.tolist()